html, body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;  
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-header{
    display: flex;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    
}
.logo-span-header{
    color:#2e2f42;
}

.iteams-header{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current{
    color:#404bbf;
}

.nav-link.current{
    position: relative;
}

.nav-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:#404bbf;
}

.contact-info{
    margin-left: auto;
}

.items-address{
    display: flex;
    gap: 40px;
    
}

.contact-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus{
    color:#404bbf;
}

.hero{
    padding: 188px 0;
    background-color:#2e2f42;
}

.hero-heading{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.benefits{
    padding: 120px 0;
}

.iteams-benefits{
    display: flex;
    gap: 24px;
}

.benefits-icon-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    border: 1px solid #8E8F99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; 
}


.iteam-benefits{
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-subheading{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-text{
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.team{
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-heading{
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.items-team{
    display: flex;
    gap: 24px;
}

.item-team{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.container-team{
    padding: 32px 16px;
}

.team-icon-container{
    display: flex;
    gap: 24px;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: center;
    padding-bottom: 8px;
}

.team-icon{
    display: inline;
    padding-top: 8px;
}

.portfolio{
    padding: 120px 0;
}

.portfolio-heading{
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-category{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-title-container{
    margin-right: 120px;
}

.logo-footer{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
}

.logo-span-footer{
    color:#F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}


/* .footer-media-container{

} */

.title-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-iteams{
    display: flex;
    gap: 16px;
}

.footer-iteam{
    width: 40px; 
    height: 40px;
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus{
    background-color: #31d0aa; 
}

.footer-icon{
    fill: #f4f4fd;
}
