html, body{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:#434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    
}
.title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}
.title-studio{
    color:#2e2f42;
}

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
}

p{
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

button{
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

a{
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration: underline;
}

.title-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.title-link:hover,
.title-link:focus{
    color:#404bbf;
}

.address{
    font-style: normal;
}

.address-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.address-list:hover,
.address-list:active{
    color:#404bbf;
}