body{
    font-family: "Roboto";
    font-weight: bold;
    color:#434455;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    
}
.title{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}

p{
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}

button{
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

link{
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}