html, body{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:#434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    
}
.title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}
.title-studio{
    color:#2e2f42;
}

.title-studio-footer{
    color: #f4f4fd;
}

.section-one{
    background-color:#2e2f42;
}

.section-three{
    background-color: #F4F4FD;
}

.footer-p{
    color: #F4F4FD;
}

.title-sectionthree{
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.title-hone{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}

.footer{
    background-color: #2e2f42;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}

.titli-list-sectiontwo-hthree{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
}

.titli-list-sectionthree-hthree{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.list-sectionthree{
    background-color: #FFFFFF;
}

.list-p-section-trhee{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.list-p{
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.section-footer{
    background-color:#2e2f42;
}

.button{
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: #404BBF;
}

a{
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration: underline;
}

.navigation{
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.navigation:hover,
.navigation:focus{
    color:#404bbf;
}

.address{
    font-style: normal;
}

.address-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.address-list:hover,
.address-list:focus{
    color:#404bbf;
}